*{
  padding: 0;
  margin: 0 0 0 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

body{
  background-color: #5E68D1;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 50px;
  position: absolute;
  top: 0;
  margin-top: 10px;
}

.menu a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  margin: 0 10px;
}

.menu a:hover{
  background-color: #91AB43 ;
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.4s linear;
  
}


.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.left{
  flex-basis: 40%;
  
}

.right{
  flex-basis: 50%;
  
}


.right img{
  width: 100%;
  height: 300px;
  margin-right: 20px;
  border-radius: 100%;
}

.left{
  color: white;
  margin-left: 50px;
}

.left p{
  font-size: 15px;
  margin-top: 15px;
}

.left button a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.left button{
  background-color: #91AB43 ;
  padding: 18px 15px;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 8px;
}